@font-face {
  font-family: 'retailSBI';
  src:  url('fonts/retailSBI.eot?r7yqo4');
  src:  url('fonts/retailSBI.eot?r7yqo4#iefix') format('embedded-opentype'),
    url('fonts/retailSBI.ttf?r7yqo4') format('truetype'),
    url('fonts/retailSBI.woff?r7yqo4') format('woff'),
    url('fonts/retailSBI.svg?r7yqo4#retailSBI') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="rfi-"], [class*=" rfi-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'retailSBI' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rfi-angle-down:before {
  content: "\e900";
}
.rfi-angle-left:before {
  content: "\e901";
}
.rfi-angle-right:before {
  content: "\e902";
}
.rfi-angle-up:before {
  content: "\e903";
}
.rfi-announcement:before {
  content: "\e904";
}
.rfi-bank:before {
  content: "\e905";
}
.rfi-bell:before {
  content: "\e906";
}
.rfi-bell-exclamation:before {
  content: "\e907";
}
.rfi-bell-on:before {
  content: "\e908";
}
.rfi-book-reader:before {
  content: "\e909";
}
.rfi-calculator:before {
  content: "\e90a";
}
.rfi-call-phone:before {
  content: "\e90b";
}
.rfi-chat-message:before {
  content: "\e90c";
}
.rfi-circle-right:before {
  content: "\e90d";
}
.rfi-circle-wrong:before {
  content: "\e90e";
}
.rfi-compress:before {
  content: "\e90f";
}
.rfi-compress-alt:before {
  content: "\e910";
}
.rfi-cross-close:before {
  content: "\e911";
}
.rfi-exclamation-circle:before {
  content: "\e912";
}
.rfi-exclamation-square:before {
  content: "\e913";
}
.rfi-exclamation-triangle:before {
  content: "\e914";
}
.rfi-expand:before {
  content: "\e915";
}
.rfi-expand-alt:before {
  content: "\e916";
}
.rfi-external-link:before {
  content: "\e917";
}
.rfi-external-links:before {
  content: "\e918";
}
.rfi-home-alt:before {
  content: "\e919";
}
.rfi-home-lg-alt:before {
  content: "\e91a";
}
.rfi-image:before {
  content: "\e91b";
}
.rfi-image-polaroid:before {
  content: "\e91c";
}
.rfi-instagram:before {
  content: "\e91d";
}
.rfi-interest:before {
  content: "\e91e";
}
.rfi-linkedin:before {
  content: "\e91f";
}
.rfi-locator:before {
  content: "\e920";
}
.rfi-long-arrow-down:before {
  content: "\e921";
}
.rfi-long-arrow-left:before {
  content: "\e922";
}
.rfi-long-arrow-right:before {
  content: "\e923";
}
.rfi-long-arrow-up:before {
  content: "\e924";
}
.rfi-paper-plane:before {
  content: "\e925";
}
.rfi-passport:before {
  content: "\e926";
}
.rfi-pencil-alt:before {
  content: "\e927";
}
.rfi-pintrest:before {
  content: "\e928";
}
.rfi-poll-h:before {
  content: "\e929";
}
.rfi-power-off:before {
  content: "\e92a";
}
.rfi-question-circle:before {
  content: "\e92b";
}
.rfi-redo:before {
  content: "\e92c";
}
.rfi-sad-emoji:before {
  content: "\e92d";
}
.rfi-search:before {
  content: "\e92e";
}
.rfi-settings:before {
  content: "\e92f";
}
.rfi-shield-alt:before {
  content: "\e930";
}
.rfi-shield-check:before {
  content: "\e931";
}
.rfi-sign-in:before {
  content: "\e932";
}
.rfi-sign-in-alt:before {
  content: "\e933";
}
.rfi-sign-out:before {
  content: "\e934";
}
.rfi-sign-out-alt:before {
  content: "\e935";
}
.rfi-smile-emoji:before {
  content: "\e936";
}
.rfi-tools:before {
  content: "\e937";
}
.rfi-trash-alt:before {
  content: "\e938";
}
.rfi-tweeter:before {
  content: "\e939";
}
.rfi-user:before {
  content: "\e93a";
}
.rfi-user-shield:before {
  content: "\e93b";
}
.rfi-user-unlock:before {
  content: "\e93c";
}
.rfi-video-circle:before {
  content: "\e93d";
}
.rfi-video-squre:before {
  content: "\e93e";
}
.rfi-video-youtube:before {
  content: "\e93f";
}
