@font-face {
  font-family: "G-Open Sans-n4";
  src: url('../data/fonts/opensans_v17_mem8YaGs126MiZpBA-U1UpcaXcl0Aw.ttf');
}
@font-face {
  font-family: G-Roboto-n4;
  src: url('../data/fonts/roboto_v20_KFOmCnqEu92Fr1Me5WZLCzYlKw.ttf');
}
@font-face {
  font-family: G-Roboto-n3;
  src: url('../data/fonts/roboto_v20_KFOlCnqEu92Fr1MmSU5vAx05IsDqlA.ttf');
}
@font-face {
  font-family: "G-Open Sans-n3";
  src: url('../data/fonts/opensans_v17_mem5YaGs126MiZpBA-UN_r8-VeJoCqeDjg.ttf');
}
@font-face {
  font-family: "G-Open Sans Condensed-n3";
  src: url('../data/fonts/opensanscondensed_v14_z7NFdQDnbTkabZAIOl9il_O6KJj73e7Ff1GhPuLGRpWRyAs.ttf');
}